.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #393E46; */
  background-color: black;
}

h1 {
  margin: 25px;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Roboto Mono', monospace;
  text-shadow: 5px 0 whitesmoke;
  font-size: 5rem;
  /* color: #4ECCA3; */
  color: white;
}

p {
  font-size: 2rem;
  /* color: #4ECCA3; */
  color: white;
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 80%;
  /* filter: opacity(0.4) drop-shadow(0 0 0 white);  */
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 1000px) {
 
  img{
    width: 50%;
    text-align: center;
  }
  
  body{
    text-align: center;
  }


}

